* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container {
  width: 75%;
  margin: auto;
}

/* HEADER */
.main-header {
  margin-top: 30px;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #2b8a3e;
  border-bottom: 5px solid #004206;

}

.main-title {
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-size: 40px;
}

/* .navigation-links {
  box-sizing: border-box;
} */

.link {
  box-sizing: border-box;
  display: inline-block;
  padding: 15px;
  background-color: #2b8a3e;
  color: #004206;
  border-radius: 10px 100px / 120px;
  text-decoration: none;
  font-size: 20px;
  border: 3px solid transparent;
}

.link:hover {
  border: 3px solid #002e04;
  background-color: #2f9e44;
}

/* ARTICLE */
.main-content {
  box-sizing: border-box;
  padding: 30px 15px;
  background-color: #40c057;

}

.content-info {
  display: inline-block;
  margin-bottom: 2.5%;
}

.content-info-donate {
  display: flex;
  align-items: center;
  gap: 5%;
  margin-right: 75px;
}

.content-image {
  width: 100%;
  margin-top: 2.5%;
}

.alt-image {
  font-size: 18px;
  text-align: center;
  text-decoration: underline;
}

.donate-header {
  font-size: 25px;
}

.click-link {
  text-decoration: none;
  color: #002e04;
}

.click-link:hover {
  color: #51cf66;
  text-decoration: underline;
  font-style: italic;
}

.content-info p {
  font-size: 25px;
  background-color: #184921;
  padding: 10px;
  margin: 15px;
  border-radius: 5%;
  color: #d3f9d8ff;
}

p {
  font-size: 22px;
  font-style: normal;
  color: #d3f9d8;
}

ol,
ul,
li {
  padding-left: 2.5%;
  font-size: 20px;
  line-height: 25px;
}



.content-cause {
  margin-left: 2.5%;
  background-color: #2b8a3e;
  padding: 24px;
}

.content-prevention {
    background-color: #2b8a3e;
  padding: 24px;
}

.side-content {
  display: flex;
  gap: 5%;
}

.footer {
  border-top: 5px solid #004206;
  box-sizing: border-box;
  background-color: #40c057;
  padding: 15px;
  gap: 20px;
  display: flex;
}

.footer p {
  color: #aeffb2;
  font-size: 18px;
}

.footer-link {
  text-decoration: none;
  color: #aeffb2;
}

.footer-link:hover {
  text-decoration: underline;
  color: #ebfbee;
}

.footer-link {
  display: block;
  margin-bottom: 5px;
}